* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	font: caption;
	font-size: 16px;
}
input[type=text],
input[type=number],
textarea {
	display: block;
	width: 100%;
	min-width: 0;
}
input[type=number] {
	text-align: right;
}
input, button, select {
	padding: 0.3em;
	font-family: inherit;
	font-size: 0.9em;
}
