* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	font: caption;
	font-size: 16px;
}
input[type=text],
input[type=number],
textarea {
	display: block;
	width: 100%;
	min-width: 0;
}
input[type=number] {
	text-align: right;
}
input, button, select {
	padding: 0.3em;
	font-family: inherit;
	font-size: 0.9em;
}

.history-container {
	position: relative;
}
.history-list {
	position: absolute;
	width: 100%;
	top: 100%;
	max-height: 100vh;
	border: 1px solid #737373;
	background: white;
	overflow: auto;
	box-shadow: 0 0 5px #737373;
	z-index: 1;
}
.history-at-top .history-list {
	top: auto;
	bottom: 100%;
}
.history-item {
	cursor: default;
	font-size: 0.9em;
	padding: 0.3em;
	min-height: 2em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.history-item:not(:first-child) {
	border-top: 1px solid #737373;
}
.history-item:hover {
	background: #0a84ff;
	color: white;
}
