body {
	color: #0c0c0d;
	font-size: 15px;
	font-weight: 400;
	padding: 0 4px;
	line-height: 1.5;
}
body.version-lt-57 {
	background-color: #fbfbfb;
}

a {
	color: #0a84ff;
	text-decoration: none;
}
a:hover {
	color: #0060df;
	text-decoration: underline;
}

fieldset[disabled] label,
fieldset[disabled] input {
  color: #999;
  opacity: .5;
}

.form-group:not(:first-child) {
	margin-top: 32px;
}
.form-group-head {
	font-size: 17px;
	font-weight: 600;
	margin: 4px 0;
}

.form-help {
	margin: 4px 0 8px;
	color: #737373;
}

.checkbox {
	margin: 4px 0;
	padding-left: 27px;
}
.checkbox > input,
.checkbox > label::before {
	margin-left: -27px;
}
.checkbox > input,
.checkbox > label,
.checkbox > label::before,
.checkbox > label > span {
	vertical-align: middle;
}
.checkbox-supplement {
	/* reset fieldset */
	margin: 4px 0 0 0;
	padding: 0;
	border: none;
}
.form-inline .checkbox {
	display: inline-block;
}
.form-inline .checkbox:not(:last-child) {
	margin-right: 16px;
}

.text:not(:first-child) {
	margin-top: 8px;
}
.text > input {
	height: 28px;
	margin: 4px 0;
}

.textarea-code {
	font-family: monospace;
}
