html, body, form {
  height: 100%;
}
form {
  display: grid;
  grid: 0fr 1fr 0fr / 1fr;
  grid-gap: 1em;
  padding: 1em;
}
textarea {
  min-height: 0;
}
button {
  padding: 0.3em 0.6em;
  min-width: 5em;
}
button:not(:first-child) {
  margin-left: 0.3em;
}
.dialog-action {
  text-align: right;
}
