.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  display: none;
  pointer-events: none;
  z-index: 1;
}
.progress-bar::before {
  content: "";
  display: block;
  width: calc(99% * var(--progress-completed) / var(--progress-total) + 1%);
  transition: width 0.2s linear;
  height: 100%;
  background-color: green;
}
.progress-bar.started {
  display: block;
}
.progress-bar.finished {
  opacity: 0;
  transition: opacity 1s linear;
}
.progress-bar.finished.error {
  opacity: 0.2;
}
.progress-bar.error::before {
  background-color: red;
}
